USE [master]
GO
/****** Object:  Database [FakulteSinavSistemiDB]    Script Date: 30.04.2026 18:02:55 ******/
CREATE DATABASE [FakulteSinavSistemiDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FakulteSinavSistemiDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FakulteSinavSistemiDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FakulteSinavSistemiDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FakulteSinavSistemiDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FakulteSinavSistemiDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FakulteSinavSistemiDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GozetmenOturumLimitiGectiMi]    Script Date: 30.04.2026 18:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[fn_GozetmenOturumLimitiGectiMi] (
    @PersonelID INT,
    @Tarih DATE,
    @OturumID INT
) RETURNS BIT
AS
BEGIN
    DECLARE @limit BIT = 0;

    IF @PersonelID IS NULL OR @Tarih IS NULL OR @OturumID IS NULL
        RETURN 0;

    -- O gün görevli olduğu oturumları set olarak al
    DECLARE @Assigned TABLE (OturumID INT PRIMARY KEY);
    INSERT INTO @Assigned (OturumID)
    SELECT DISTINCT s.OturumID
    FROM Gozetmen_Atamalari ga
    INNER JOIN Sinav_Salonlari ss ON ga.AtamaID = ss.AtamaID
    INNER JOIN Sinavlar s ON ss.SinavID = s.SinavID
    WHERE ga.PersonelID = @PersonelID
      AND s.Tarih = @Tarih;

    -- Hedef oturum dahil üst üste kaç oturum eder?
    DECLARE @count INT = 1;
    DECLARE @i INT;

    -- geriye doğru
    SET @i = @OturumID - 1;
    WHILE EXISTS (SELECT 1 FROM @Assigned WHERE OturumID = @i)
    BEGIN
        SET @count += 1;
        SET @i -= 1;
    END

    -- ileriye doğru
    SET @i = @OturumID + 1;
    WHILE EXISTS (SELECT 1 FROM @Assigned WHERE OturumID = @i)
    BEGIN
        SET @count += 1;
        SET @i += 1;
    END

    IF @count >= 4 SET @limit = 1;
    RETURN @limit;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_HocaBaskaSalondaMi]    Script Date: 30.04.2026 18:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- FONKSİYON 3: Hoca Zaman Çakışması Kontrolü (Aynı saatte başka salonda görevli mi?)
CREATE FUNCTION [dbo].[fn_HocaBaskaSalondaMi] (@PersonelID INT, @Tarih DATE, @OturumID INT)
RETURNS BIT
AS
BEGIN
    DECLARE @Sonuc BIT = 0;
    IF EXISTS (
        SELECT 1 FROM Gozetmen_Atamalari ga
        INNER JOIN Sinav_Salonlari ss ON ga.AtamaID = ss.AtamaID
        INNER JOIN Sinavlar s ON ss.SinavID = s.SinavID
        WHERE ga.PersonelID = @PersonelID AND s.Tarih = @Tarih AND s.OturumID = @OturumID
    )
        SET @Sonuc = 1;
    RETURN @Sonuc;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_HocaMazeretliMi]    Script Date: 30.04.2026 18:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- FONKSİYON 1: Hocanın o gün mazereti (izni) var mı? (1: Var, 0: Yok)
CREATE FUNCTION [dbo].[fn_HocaMazeretliMi] (@PersonelID INT, @Tarih DATE)
RETURNS BIT
AS
BEGIN
    DECLARE @Sonuc BIT = 0;
    IF EXISTS (SELECT 1 FROM Personel_Durumlari WHERE PersonelID = @PersonelID AND Tarih = @Tarih)
        SET @Sonuc = 1;
    RETURN @Sonuc;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SalonDoluMu]    Script Date: 30.04.2026 18:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- FONKSİYON 2: Salon Çakışma Kontrolü (O salonda o gün ve oturumda başka sınav var mı?)
-- (0: Boş/Uygun, 1: Dolu/Çakışma var)
CREATE FUNCTION [dbo].[fn_SalonDoluMu] (@DerslikID INT, @Tarih DATE, @OturumID INT)
RETURNS BIT
AS
BEGIN
    DECLARE @Sonuc BIT = 0;
    IF EXISTS (
        SELECT 1 FROM Sinav_Salonlari ss
        INNER JOIN Sinavlar s ON ss.SinavID = s.SinavID
        WHERE ss.DerslikID = @DerslikID AND s.Tarih = @Tarih AND s.OturumID = @OturumID
    )
        SET @Sonuc = 1;
    RETURN @Sonuc;
END;
GO
/****** Object:  Table [dbo].[Bolumler]    Script Date: 30.04.2026 18:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bolumler](
	[BolumID] [int] IDENTITY(1,1) NOT NULL,
	[BolumAdi] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BolumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BolumAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oturumlar]    Script Date: 30.04.2026 18:02:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oturumlar](
	[OturumID] [int] IDENTITY(1,1) NOT NULL,
	[Tanim] [nvarchar](50) NOT NULL,
	[BaslangicSaat] [time](7) NOT NULL,
	[BitisSaat] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OturumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Derslikler]    Script Date: 30.04.2026 18:02:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Derslikler](
	[DerslikID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Kapasite] [int] NOT NULL,
	[Tip] [nvarchar](30) NOT NULL,
	[Aktif] [bit] NULL,
	[Kat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DerslikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Ad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personeller]    Script Date: 30.04.2026 18:02:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personeller](
	[PersonelID] [int] IDENTITY(1,1) NOT NULL,
	[Unvan] [nvarchar](30) NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[BolumID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dersler]    Script Date: 30.04.2026 18:02:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dersler](
	[DersID] [int] IDENTITY(1,1) NOT NULL,
	[DersKodu] [nvarchar](20) NOT NULL,
	[DersAdi] [nvarchar](100) NOT NULL,
	[DersTuru] [nvarchar](20) NOT NULL,
	[OgrenciSayisi] [int] NOT NULL,
	[Yariyil] [int] NOT NULL,
	[BolumID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DersKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sinavlar]    Script Date: 30.04.2026 18:02:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sinavlar](
	[SinavID] [int] IDENTITY(1,1) NOT NULL,
	[DersID] [int] NOT NULL,
	[Tarih] [date] NOT NULL,
	[OturumID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SinavID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Sinav] UNIQUE NONCLUSTERED 
(
	[DersID] ASC,
	[Tarih] ASC,
	[OturumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sinav_Salonlari]    Script Date: 30.04.2026 18:02:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sinav_Salonlari](
	[AtamaID] [int] IDENTITY(1,1) NOT NULL,
	[SinavID] [int] NOT NULL,
	[DerslikID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AtamaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SinavSalon] UNIQUE NONCLUSTERED 
(
	[SinavID] ASC,
	[DerslikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gozetmen_Atamalari]    Script Date: 30.04.2026 18:02:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gozetmen_Atamalari](
	[GozetmenAtamaID] [int] IDENTITY(1,1) NOT NULL,
	[AtamaID] [int] NOT NULL,
	[PersonelID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GozetmenAtamaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_GozetmenAtama] UNIQUE NONCLUSTERED 
(
	[AtamaID] ASC,
	[PersonelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_GenelSinavProgrami]    Script Date: 30.04.2026 18:02:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* VİEW 1: Örnek Sınav Programı Çıktısı (Excel'deki o geniş tablo görüntüsü)*/
CREATE VIEW [dbo].[vw_GenelSinavProgrami]
AS
SELECT        s.Tarih, o.Tanim AS OturumSaati, o.BaslangicSaat, b.BolumAdi, d.DersAdi, d.OgrenciSayisi, l.Ad AS Salon, ISNULL(p.Unvan + ' ' + p.Ad + ' ' + p.Soyad, 'Atanmadı') AS Gozetmen, ss.AtamaID
FROM            dbo.Sinavlar AS s INNER JOIN
                         dbo.Dersler AS d ON s.DersID = d.DersID INNER JOIN
                         dbo.Bolumler AS b ON d.BolumID = b.BolumID INNER JOIN
                         dbo.Oturumlar AS o ON s.OturumID = o.OturumID INNER JOIN
                         dbo.Sinav_Salonlari AS ss ON s.SinavID = ss.SinavID INNER JOIN
                         dbo.Derslikler AS l ON ss.DerslikID = l.DerslikID LEFT OUTER JOIN
                         dbo.Gozetmen_Atamalari AS ga ON ss.AtamaID = ga.AtamaID LEFT OUTER JOIN
                         dbo.Personeller AS p ON ga.PersonelID = p.PersonelID
GO
/****** Object:  View [dbo].[vw_GozetmenGorevYuku]    Script Date: 30.04.2026 18:02:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- VİEW 2: Adil Dağıtım Kontrolü İçin Gözetmen Görev Yükü
CREATE VIEW [dbo].[vw_GozetmenGorevYuku]
AS
SELECT 
    p.PersonelID,
    p.Ad + ' ' + p.Soyad AS Hoca,
    COUNT(ga.GozetmenAtamaID) AS ToplamGorevSayisi
FROM Personeller p
LEFT JOIN Gozetmen_Atamalari ga ON p.PersonelID = ga.PersonelID
GROUP BY p.PersonelID, p.Ad, p.Soyad;
GO
/****** Object:  View [dbo].[vw_DerslikDoluluk]    Script Date: 30.04.2026 18:02:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- VİEW 3: Sınavı Olmayan (Boş) Sınıfları Gösteren Görünüm
CREATE VIEW [dbo].[vw_DerslikDoluluk]
AS
SELECT 
    l.DerslikID, l.Ad AS Salon, l.Kapasite,
    s.Tarih, o.Tanim AS Oturum,
    CASE 
        WHEN ss.AtamaID IS NULL THEN 'BOŞ' 
        ELSE 'DOLU' 
    END AS Durum
FROM Derslikler l
CROSS JOIN Oturumlar o -- Tüm salonları tüm oturumlarla eşleriz
LEFT JOIN Sinav_Salonlari ss ON l.DerslikID = ss.DerslikID
LEFT JOIN Sinavlar s ON ss.SinavID = s.SinavID AND s.OturumID = o.OturumID;
GO
/****** Object:  Table [dbo].[Personel_Durumlari]    Script Date: 30.04.2026 18:02:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personel_Durumlari](
	[DurumID] [int] IDENTITY(1,1) NOT NULL,
	[PersonelID] [int] NOT NULL,
	[Tarih] [date] NOT NULL,
	[MazeretTuru] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DurumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Personel_Tarih] UNIQUE NONCLUSTERED 
(
	[PersonelID] ASC,
	[Tarih] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_GozetmenAtamalari_PersonelID]    Script Date: 30.04.2026 18:02:56 ******/
CREATE NONCLUSTERED INDEX [IX_GozetmenAtamalari_PersonelID] ON [dbo].[Gozetmen_Atamalari]
(
	[PersonelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SinavSalonlari_DerslikID]    Script Date: 30.04.2026 18:02:56 ******/
CREATE NONCLUSTERED INDEX [IX_SinavSalonlari_DerslikID] ON [dbo].[Sinav_Salonlari]
(
	[DerslikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Sinavlar_Tarih]    Script Date: 30.04.2026 18:02:56 ******/
CREATE NONCLUSTERED INDEX [IX_Sinavlar_Tarih] ON [dbo].[Sinavlar]
(
	[Tarih] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dersler] ADD  DEFAULT ((0)) FOR [OgrenciSayisi]
GO
ALTER TABLE [dbo].[Derslikler] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[Derslikler] ADD  DEFAULT ((1)) FOR [Kat]
GO
ALTER TABLE [dbo].[Dersler]  WITH CHECK ADD FOREIGN KEY([BolumID])
REFERENCES [dbo].[Bolumler] ([BolumID])
GO
ALTER TABLE [dbo].[Gozetmen_Atamalari]  WITH CHECK ADD FOREIGN KEY([AtamaID])
REFERENCES [dbo].[Sinav_Salonlari] ([AtamaID])
GO
ALTER TABLE [dbo].[Gozetmen_Atamalari]  WITH CHECK ADD FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personeller] ([PersonelID])
GO
ALTER TABLE [dbo].[Personel_Durumlari]  WITH CHECK ADD FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personeller] ([PersonelID])
GO
ALTER TABLE [dbo].[Personeller]  WITH CHECK ADD FOREIGN KEY([BolumID])
REFERENCES [dbo].[Bolumler] ([BolumID])
GO
ALTER TABLE [dbo].[Sinav_Salonlari]  WITH CHECK ADD FOREIGN KEY([DerslikID])
REFERENCES [dbo].[Derslikler] ([DerslikID])
GO
ALTER TABLE [dbo].[Sinav_Salonlari]  WITH CHECK ADD FOREIGN KEY([SinavID])
REFERENCES [dbo].[Sinavlar] ([SinavID])
GO
ALTER TABLE [dbo].[Sinavlar]  WITH CHECK ADD FOREIGN KEY([DersID])
REFERENCES [dbo].[Dersler] ([DersID])
GO
ALTER TABLE [dbo].[Sinavlar]  WITH CHECK ADD FOREIGN KEY([OturumID])
REFERENCES [dbo].[Oturumlar] ([OturumID])
GO
ALTER TABLE [dbo].[Dersler]  WITH CHECK ADD CHECK  (([Yariyil]>=(1) AND [Yariyil]<=(8)))
GO
ALTER TABLE [dbo].[Derslikler]  WITH CHECK ADD CHECK  (([Kapasite]>(0)))
GO
/****** Object:  StoredProcedure [dbo].[akilliSalonAta]    Script Date: 30.04.2026 18:02:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[akilliSalonAta] 
    @DersID INT,
    @Tarih DATE,
    @OturumID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. ADIM: Sınavı yapılacak dersin Yarıyıl bilgisini bul
    DECLARE @Yariyil INT;
    SELECT @Yariyil = Yariyil FROM Dersler WHERE DersID = @DersID;

    -- 2. ADIM: KISIT KONTROLÜ (Aynı yarıyılın, aynı gün, bir önceki veya bir sonraki oturumunda sınavı var mı?)
    -- Örn: Oturum 2'ye kayıt yapıyorsak, Oturum 1 veya Oturum 3'te aynı yarıyılın sınavı var mı diye bakar.
    IF EXISTS (
        SELECT 1 
        FROM Sinavlar s
        JOIN Dersler d ON s.DersID = d.DersID
        WHERE s.Tarih = @Tarih 
          AND d.Yariyil = @Yariyil
          AND (s.OturumID = @OturumID - 1 OR s.OturumID = @OturumID + 1)
    )
    BEGIN
        -- Kural ihlali varsa SQL anında hata fırlatır ve Java'ya "400 Bad Request" yollar!
        THROW 50001, 'KURAL İHLALİ: Öğrenci mağduriyeti! Aynı yarıyılın öğrencilerine aynı gün ardışık (peş peşe) oturumlarda sınav atanamaz.', 1;
        RETURN;
    END

    -- 3. ADIM: Kurala takılmadık. Sınavlar tablosuna sınavı ekle (Eğer henüz eklenmemişse)
    -- Not: SCOPE_IDENTITY() ile eklenen Sınavın ID'sini yakalıyoruz
    DECLARE @YeniSinavID INT;
    INSERT INTO Sinavlar (DersID, Tarih, OturumID) VALUES (@DersID, @Tarih, @OturumID);
    SET @YeniSinavID = SCOPE_IDENTITY();

    -- 4. ADIM: O gün ve o saatte BOŞ olan rastgele bir derslik bul (Kapasitesi en az 30 olan vs. eklenebilir)
    DECLARE @BosDerslikID INT;
    SELECT TOP 1 @BosDerslikID = DerslikID 
    FROM Derslikler 
    WHERE DerslikID NOT IN (
        -- Zaten o saatte sınav atanan sınıfları dışla
        SELECT ss.DerslikID FROM Sinav_Salonlari ss
        JOIN Sinavlar s ON ss.SinavID = s.SinavID
        WHERE s.Tarih = @Tarih AND s.OturumID = @OturumID
    )
    ORDER BY NEWID(); -- Rastgele birini seç

    -- 5. ADIM: Bulunan boş salonu Sınav_Salonlari tablosuna bağla
    IF @BosDerslikID IS NOT NULL
    BEGIN
        INSERT INTO Sinav_Salonlari (SinavID, DerslikID) VALUES (@YeniSinavID, @BosDerslikID);
        PRINT 'Sınav başarıyla oluşturuldu ve salon atandı!';
    END
    ELSE
    BEGIN
        THROW 50002, 'KAPASİTE HATASI: O oturumda fakültede boş derslik kalmadı!', 1;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[rastgeleGozetmenAta]    Script Date: 30.04.2026 18:02:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[rastgeleGozetmenAta] 
    @AtamaID INT -- Hangi salon atamasına gözetmen arıyoruz?
AS
BEGIN
    SET NOCOUNT ON;

    -- Atamanın yapılacağı Sınavın Tarihini ve Oturumunu bulalım
    DECLARE @Tarih DATE;
    DECLARE @OturumID INT;
    
    SELECT @Tarih = s.Tarih, @OturumID = s.OturumID 
    FROM Sinav_Salonlari ss
    JOIN Sinavlar s ON ss.SinavID = s.SinavID
    WHERE ss.AtamaID = @AtamaID;

    -- Şartları sağlayan rastgele bir Hoca bulalım
    DECLARE @UygunGozetmenID INT;
    
    SELECT TOP 1 @UygunGozetmenID = PersonelID 
    FROM Personeller
    WHERE 
        -- KISIT 1: O oturumda başka bir Sınav Salonunda görevli OLMAMALI
        PersonelID NOT IN (
            SELECT ga.PersonelID 
            FROM Gozetmen_Atamalari ga
            JOIN Sinav_Salonlari ss ON ga.AtamaID = ss.AtamaID
            JOIN Sinavlar s ON ss.SinavID = s.SinavID
            WHERE s.Tarih = @Tarih AND s.OturumID = @OturumID
        )
        AND
        -- KISIT 2: Hoca o gün için Mazeret/Rapor bildirmemiş OLMAMALI
        PersonelID NOT IN (
            SELECT PersonelID 
            FROM Mazeretler 
            WHERE Tarih = @Tarih
        )
    ORDER BY NEWID(); -- Kalan sağlam hocalar içinden rastgele kura çek!

    -- Hocayı Gozetmen_Atamalari tablosuna yaz
    IF @UygunGozetmenID IS NOT NULL
    BEGIN
        INSERT INTO Gozetmen_Atamalari (AtamaID, PersonelID) VALUES (@AtamaID, @UygunGozetmenID);
        PRINT 'Uygun gözetmen başarıyla atandı!';
    END
    ELSE
    BEGIN
        THROW 50003, 'GÖZETMEN KALMADI: O saatte tüm hocalar ya dolu ya da mazeretli!', 1;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AkilliSalonAta]    Script Date: 30.04.2026 18:02:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_AkilliSalonAta] 
    @DersKodu NVARCHAR(20), 
    @Tarih DATE, 
    @OturumID INT,
    @UyariMesaji NVARCHAR(500) OUTPUT 
AS
BEGIN
    SET NOCOUNT ON;
    SET @UyariMesaji = ''; 

    DECLARE @DersID INT, @OgrenciSayisi INT, @BolumID INT, @Yariyil INT, @KalanOgrenci INT, @YeniSinavID INT;
    
    SELECT @DersID = DersID, @OgrenciSayisi = OgrenciSayisi, @BolumID = BolumID, @Yariyil = Yariyil 
    FROM Dersler WHERE DersKodu = @DersKodu;

    IF @DersID IS NULL
    BEGIN
        RAISERROR ('Hata: Ders bulunamadı!', 16, 1);
        RETURN;
    END

    DECLARE @AyniGunSinavSayisi INT;
    SELECT @AyniGunSinavSayisi = COUNT(*)
    FROM Sinavlar s
    INNER JOIN Dersler d ON s.DersID = d.DersID
    WHERE s.Tarih = @Tarih AND d.BolumID = @BolumID AND d.Yariyil = @Yariyil;

    IF @AyniGunSinavSayisi >= 2
    BEGIN
        SET @UyariMesaji = 'UYARI: Bu sınıf/dönem için aynı güne ' + CAST((@AyniGunSinavSayisi + 1) AS NVARCHAR) + '. sınavı eklediniz!';
    END

    BEGIN TRY
        INSERT INTO Sinavlar (DersID, Tarih, OturumID) VALUES (@DersID, @Tarih, @OturumID);
        SET @YeniSinavID = SCOPE_IDENTITY();
    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR ('Sınav eklenemedi: %s', 16, 1, @ErrMsg);
        RETURN;
    END CATCH

    SET @KalanOgrenci = @OgrenciSayisi;
    DECLARE @DerslikID INT, @Kapasite INT, @SalonAd NVARCHAR(50), @Kat INT, @IlkSalonKati INT;

    SELECT TOP 1
        @DerslikID = DerslikID, @Kapasite = Kapasite, @SalonAd = Ad, @IlkSalonKati = Kat
    FROM Derslikler
    WHERE Aktif = 1 AND dbo.fn_SalonDoluMu(DerslikID, @Tarih, @OturumID) = 0
    ORDER BY Kapasite DESC;

    IF @DerslikID IS NULL
    BEGIN
        RAISERROR ('UYARI: Boş salon bulunamadı!', 16, 1);
        RETURN;
    END

    INSERT INTO Sinav_Salonlari (SinavID, DerslikID) VALUES (@YeniSinavID, @DerslikID);
    SET @KalanOgrenci = @KalanOgrenci - @Kapasite;

    WHILE @KalanOgrenci > 0
    BEGIN
        SELECT TOP 1
            @DerslikID = d.DerslikID, @Kapasite = d.Kapasite, @SalonAd = d.Ad, @Kat = d.Kat
        FROM Derslikler d
        WHERE d.Aktif = 1
          AND dbo.fn_SalonDoluMu(d.DerslikID, @Tarih, @OturumID) = 0
          AND NOT EXISTS (SELECT 1 FROM Sinav_Salonlari ss WHERE ss.SinavID = @YeniSinavID AND ss.DerslikID = d.DerslikID)
        ORDER BY CASE WHEN d.Kat = @IlkSalonKati THEN 0 ELSE 1 END, d.Kapasite DESC;

        IF @DerslikID IS NULL BREAK;

        INSERT INTO Sinav_Salonlari (SinavID, DerslikID) VALUES (@YeniSinavID, @DerslikID);
        SET @KalanOgrenci = @KalanOgrenci - @Kapasite;
    END
    
    IF @KalanOgrenci > 0 
        SET @UyariMesaji = @UyariMesaji + ' (Ayrıca Uyarı: Boş salonlar yetmedi!)'; 
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RastgeleGozetmenAta]    Script Date: 30.04.2026 18:02:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_RastgeleGozetmenAta] @AtamaID INT AS
BEGIN
    DECLARE @UygunPersonelID INT, @SinavTarihi DATE, @OturumID INT, @DersBolumID INT;

    -- Sınavın tarihini, oturumunu ve DERSİN HANGİ BÖLÜME ait olduğunu bul
    SELECT 
        @SinavTarihi = s.Tarih, 
        @OturumID = s.OturumID,
        @DersBolumID = d.BolumID
    FROM Sinav_Salonlari ss 
    INNER JOIN Sinavlar s ON ss.SinavID = s.SinavID 
    INNER JOIN Dersler d ON s.DersID = d.DersID
    WHERE ss.AtamaID = @AtamaID;

    -- Adil Dağıtım ve Havuz Sistemi ile uygun gözetmeni seç
    SELECT TOP 1 @UygunPersonelID = p.PersonelID
    FROM Personeller p
    WHERE dbo.fn_HocaMazeretliMi(p.PersonelID, @SinavTarihi) = 0
      AND dbo.fn_HocaBaskaSalondaMi(p.PersonelID, @SinavTarihi, @OturumID) = 0
      AND dbo.fn_GozetmenOturumLimitiGectiMi(p.PersonelID, @SinavTarihi, @OturumID) = 0
    ORDER BY 
        -- 1. ÖNCELİK (Havuz Sistemi): Önce dersin kendi bölümündeki hocalar
        CASE WHEN p.BolumID = @DersBolumID THEN 0 ELSE 1 END ASC,
        
        -- 2. ÖNCELİK (Adil Dağıtım): Şimdiye kadar en az görev almış hoca
        (SELECT COUNT(*) FROM Gozetmen_Atamalari ga WHERE ga.PersonelID = p.PersonelID) ASC;

    IF @UygunPersonelID IS NOT NULL
    BEGIN
        INSERT INTO Gozetmen_Atamalari (AtamaID, PersonelID) VALUES (@AtamaID, @UygunPersonelID);
        PRINT 'Gözetmen atandı. PersonelID: ' + CAST(@UygunPersonelID AS NVARCHAR);
    END
    ELSE 
        PRINT 'HATA: Havuzda bile uygun gözetmen bulunamadı!';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_VeritabaniYedekle]    Script Date: 30.04.2026 18:02:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP 3: BONUS İSTER - VERİTABANI YEDEĞİ ALMA (BACKUP)
CREATE PROCEDURE [dbo].[sp_VeritabaniYedekle]
AS
BEGIN
    -- C sürücüsünde Yedekler klasörü olmalı, yoksa hata verebilir. (Kendine göre C:\ veya D:\ yapabilirsin)
    DECLARE @DosyaYolu NVARCHAR(255) = 'C:\FakulteSinavSistemiDB_Yedek.bak'; 
    
    BACKUP DATABASE FakulteSinavSistemiDB 
    TO DISK = @DosyaYolu 
    WITH FORMAT, INIT, NAME = 'FakulteSinavSistemiDB-Tam Yedek';
    
    PRINT 'Veritabanı yedeği başarıyla alındı: ' + @DosyaYolu;
END;
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[48] 4[18] 2[16] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "s"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "d"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "b"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 234
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "o"
            Begin Extent = 
               Top = 138
               Left = 246
               Bottom = 268
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ss"
            Begin Extent = 
               Top = 234
               Left = 38
               Bottom = 347
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "l"
            Begin Extent = 
               Top = 270
               Left = 246
               Bottom = 400
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "ga"
            Begin Extent = 
               Top = 348
               Left = 38
               Bottom = 461
               Right = 227
            End
            DisplayFlags = 280
            TopColumn = 0
         End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_GenelSinavProgrami'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'
         Begin Table = "p"
            Begin Extent = 
               Top = 402
               Left = 265
               Bottom = 532
               Right = 435
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_GenelSinavProgrami'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_GenelSinavProgrami'
GO
USE [master]
GO






// amfilere otomatik atama yapsın otomatik atama şartları şunlar :
// aynı kata vermeye çalışsın (önce en büyüğü dolduracak şekilde) (en verimli olacak şekilde doldurulsun) ---
// aynı yarıyılın sınavlarını aynı güne ardışık oturumlara atamasın  ---
// bölüm paneli eklensin tablodan bölüm eklenebilsin ders tablosundaki bölümle ilişkilendirilsin.
// önce o bölümün hocalarını atamaya çalışsın, eğer uygun hoca kalmazsa diğer bölümlerin hocalarını atsın (havuz sistemi) ---
// mazeretli hoca sınav programı ekranında atama yapılırken gözükmesin
// sınav program panelinden bir tarihe gözetmen atıyorum ama kayıt başarılıyken ekranda gözüküyor 
// bir gözetmen en fazla arka arkaya 3 oturumda görev alabilir (bu kural da otomatik atama sırasında kontrol edilsin) ---
// Örneğin bir gün içinde 5 oturum olacaksa bir gözetmen ilk 3 oturumda görevli ise ---
// 4.oturumda yazılmamalı, 5. Oturuma yazılabilir.---
// Kapasite Kontrolü: Atanan sınav salonlarının toplam kapasitesi, dersi alan öğrenci sayısından az olamaz.(manuel salon atamasını baştan kotrol et)
// panelde kayıt oluştururken 21 mayısta tanımladığın sınavı panelden 20 mayısa atıyor paneli komple elden geçir 
// Zaman Çakışması: Bir öğretim elemanı aynı anda iki farklı salonda görev alamaz. ---
// otomatik atama yapılırken : Adil Dağıtım: Gözetmen atamaları yapılırken, görev yükü (Görev Sayısı veya Toplam Saat) dengeli dağıtılmalıdır. Birine 10, diğerine 0 görev yazılmamalıdır. ---
// 3. normal forma uygun mu kontrol et 
// backup almada fronttan istek gitmiyor ona da bi bak 

